

{% extends "templates/base.html" %}
<!-- Override page specific content -->
{% block content %}
<section class="features-section">
        <div class="container" >

          <div class="row">

           <div class="col-md-10 col-md-offset-1 col-xs-12" id="features-img">



             <img src="../static/images/features-01.png" style="max-width:100%;" alt="features of the nozzle,brush and divertor washable product.">

           </div>
          <div class="col-md-10 col-xs-12" id="renders">
              <div class="col-xs-12">
             <img src="../static/images/renders-01.png" style="max-width:100%;" alt="features of the nozzle" >
           </div>
           <div class="col-xs-12">
              <img src="../static/images/renders-02.png" style="max-width:100%;" alt="features of the brush">
            </div>
            <div class="col-xs-12">
               <img src="../static/images/renders-03.png" style="max-width:100%;" alt="features of the divertor" >
            </div>
          </div>

           <div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:-5%;">

                   <div id="price"><h3><br>30$ for a box of 2 full sets!</h3><hr></div>

             <div class="quotes"><h3>washing has never felt this good!</h3><p>Ergonomically designed and multiple textures makes this a brush that feels good no matter your hand size.</p></div>
             <div class="quotes"><h3>finally a product you want to keep out!
</h3><p>With a stainless steel finish and multiple brush colors, this is a sink attachment that you do not mind leaving out for all to see (and use!). 
</p></div>
             <div class="quotes"><h3>your hand has never been so clean!
</h3><p>With lathering bumps and deep-cleaning bristles, this product was designed to scrub even the toughest dirt away.</p></div>


           </div>
               


           </div>








       
     </div>
   </section>

{% endblock %}