
<!-- Home page -->
<!-- Extend base template -->
{% extends "templates/base.html" %}

{% block content %}
<section class="intro-section">

              <div class="container ">



               <div class="row" style="margin-top:35%;" id="landing">


                <div class="col-md-9 col-xs-12" id="tagline">
                  <h4  style="color:white;font-weight:900;font-size:35px;float:left;">a new way to wash up
                  </h4></p>
                </div>
                <div class="col-md-9 col-xs-12 col-md-offset-1"  id="main-heading">
                  <img style="width:100%;float:left;"src="../static/images/Logo.png">

                </div>
              </div>
            </div>
          </section>

          <section class="new-features-section">
            <div class="container" >
              <div class="row">


              </div>
              <div class="row">

               <div class="col-md-9 col-md-offset-1 col-xs-12">



                 <p style="font-size:25px;line-height:3;text-align:center;margin-top:10%;font-family: caviar_dreamsregular;">For the over 40MM Americans who are limited to the use of only one hand, getting a deep clean for their hand is a difficult task. At enable Products, we see a need for change, a new way to wash up.
                </p> 
              </div>
                
             




            </div>

          </div>
        </div>
      </section>

{% endblock %}