


{% extends "templates/base.html" %}

{% block content %}

<section class="intro-section">

              <div class="container ">



               <div class="row" style="margin-top:10%;" id="landing">



                <div class="col-md-12 col-xs-12">
                  <img style="width:100%;" src="../static/images/Logo.png" alt="washable logo">

                </div>
              </div>

            </div>
            
          </section>

          <section class="new-features-section">
            
              <div class="container ">
            
              <div class="row">

               <div class="col-md-9 col-md-offset-1 col-xs-12">



                 <p style="font-size:25px;line-height:3;text-align:center;margin-top:10%;font-family: caviar_dreamsregular;">For the over 40MN Americans who are limited to the use of only one hand, getting a deep clean for their hand is a difficult task. At enable Products, we see a need for change, a new way to wash up.
                </p> 
              </div>
                
             

            </div>


            

          
       
        </div>
      </section>


{% endblock %}