<!-- login page -->
<!-- Extend base template -->
{% extends "templates/base.html" %}
<!-- Override page specefic content -->
{% block content %}
<!-- checking if the user has entered correct credentials -->
{% if loggedIn == False %}
<!-- if false, render the form  -->
<form method="post" action="/login">
	<!-- Displaying error message depending upon if the variable is present -->
	<p>{{ErrorMessage}}</p>
	<p>Username: <input type="text" name="username"/></p>
	<p>Password: <input type="password" name="password"/></p>
	<p><input type="submit"></p>
</form>
{% else %}
<!-- Display logged in message only -->
<p>You are successfully logged in!</p>
{% endif %}
{% endblock %}