<!-- Photography page -->
<!-- Extend base template -->
{% extends "templates/base.html" %}
<!-- Override page specefic content -->
{% block content %}
	<section class="team-section">



                  <div class="container">

                    

                      
                    <div class="row">
                      
                      <div class="col-md-12 col-md-offset-1 col-xs-12">

                        <h1>executive team</h1>
                    
                        <div class="col-sm-4 col-lg-2 col-xs-12" >
                          <img class="my-img-circle" src="../static/images/Team-01.png" alt="Nick Walker">
                          
                          <p>
                            Nicholas Walker
                          </p>
                            <p>
                           Chief Operating Officer
                          </p>
                        </div>
                        <div class="col-sm-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-02.png" alt="Mukul Shekhar">
                          <p>
                            Mukul Shekhar
                          </p>
                            <p>
                            Chief Strategy Officer
                          </p>
                        </div>
                        <div class="col-sm-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-03.png" alt="Tom Mazula">
                          
                          <p>
                            Thomas Mazula
                          </p>
                            <p>
                            Chief Executive Officer
                          </p>
                        </div>
                        <div class="col-sm-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-04.png" alt="Kanchi Bhawalkar">
                          
                          <p>
                            Kanchi Bhawalkar
                          </p>
                            <p>
                            Chief Technology Officer
                          </p>
                        </div>
                        <div class="col-sm-4 col-lg-2 col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-05.png" alt="Amy Kamdem">
                          
                          <p>
                            Amy Kamdem
                          </p>
                            <p>
                            Chief Design Officer
                          </p>
                        </div>
                      </div>

                   
                  </div>
                  </div>
                </section>

{% endblock %}