<!-- Photography page -->
<!-- Extend base template -->
{% extends "templates/base.html" %}
<!-- Override page specefic content -->
{% block content %}
	<section class="team-section">



                  <div class="container">

                    <div class="row" >

                      
                    <div class="row">
                      <h2 style="text-align:center;">executive team</h2>
                      <div class="col-md-12 col-md-offset-1 col-xs-12">


                    
                        <div class="col-md-4 col-lg-2 col-xs-12" >
                          <img class="my-img-circle" src="../static/images/Team-01.png">
                          <p>
                            Nicholas Walker
                          </p>
                            <p>
                           Chief Operating Officer
                          </p>
                        </div>
                        <div class="col-md-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-02.png">
                          <p>
                            Mukul Shekhar
                          </p>
                            <p>
                            Chief Strategy Officer
                          </p>
                        </div>
                        <div class="col-md-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-03.png">
                          <p>
                            Thomas Mazula
                          </p>
                            <p>
                            Chief Executive Officer
                          </p>
                        </div>
                        <div class="col-md-4 col-lg-2  col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-04.png">
                          <p>
                            Kanchi Bhawalkar
                          </p>
                            <p>
                            Chief Technology Officer
                          </p>
                        </div>
                        <div class="col-md-4 col-lg-2 col-xs-12">
                          <img class="my-img-circle" src="../static/images/Team-05.png">
                          <p>
                            Amy Kamdem
                          </p>
                            <p>
                            Chief Design Officer
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>

{% endblock %}